/* import */
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
/* Fonts */

$testocorsivo: "Cookie", "cursive";

/* colori */

/* homepage */
$color-banner: #fbe3d7;
$color-banner2: #d4d4ee;
$color-button-informazioni: #fbe3d7;
$color-button-informazioni-focus: #fff7c8;
$color-button-informazioni-shadow: #fffcd4;

/* header */
$header: #ffffff;

/* carrello */
$soldiRimasti-Pagamenti: #292929;

/* footer */
$colore-background: #ffede7;
$colore-link: #4f4f4f;
$colore-titoli: #7f4722;